.table-wrapper {
    overflow: auto;
    height: calc(100vh - 100px);
    background: white;
  }

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  /* flex: 0 0 20%; */
  width: 50px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  /* flex: 0 0 20%; */
  width: 200px;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  /* flex: 0 0 20%; */
  width: 300px;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 7%;
}